:root {
  --boxColor: #979e329a;
  --ballColor: #a406b3fa;
  --rotateSpeed: 30s;
  --bounceSpeed: 1.5s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
  overflow: hidden;
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  animation: sceneRotate var(--rotateSpeed) infinite linear;
}

@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes ballBounce {
  0%,
  100% {
    bottom: .5em;
    filter: brightness(1);
  }

  50% {
    bottom: 3em;
    animation-timing-function: cubic-bezier(.11,0,.5,0);
    filter: brightness(1.30);
  }
}

.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;

  position: absolute;
  left: -0.5em;
  bottom: 1em;

  background-image: radial-gradient(circle at top, var(--ballColor), 60%, #000);
  animation: 
    ballBounce var(--bounceSpeed) infinite cubic-bezier(.5,1,.89,1),
    sceneRotate var(--rotateSpeed) infinite linear reverse;
}

.ballShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#000, #0000 40%);
  animation: ballShadowAnimate var(--bounceSpeed) infinite ease-out;
}

@keyframes ballShadowAnimate {
  0%,
  100% {
    scale: 1;
    opacity: 1;
  }

  50%{
    /* scale: 2; */
    scale: .5;
    opacity: .3;
  }
  
  8%, 29%{
    scale: .6;
    opacity: .5;
  }
  
  36% {
    scale: .55;
    opacity: .45;
  }
}

.cube {
  width: 2em;
  height: 2em;
  transform-style: preserve-3d;

  position: absolute;
  bottom: -.99em;
  left: -1em;
  animation: cubeHeight var(--bounceSpeed) infinite ease-out, rotateCube infinite calc(var(--bounceSpeed)) calc(var(--bounceSpeed) / 5) ease-in-out alternate-reverse;
}

@keyframes rotateCube {
  0% {
    transform: rotate3d(0, 1 , 0 , 0deg);
  }
  100% {
    transform: rotate3d(0, 1 , 0 , 90deg);   
  }
}

@keyframes cubeHeight {
  0%,
  100% {
    height: 1.5em;
  }

  95.75%, 8%, 29%, 43%, 50% {
    height: 2em;
  }

  36% {
    height: 1.95em;
    animation-timing-function: ease-in;
  }

  19% {
    animation-timing-function: ease-in;
    height: 1.85em;
  }
}

.cube :is(.left, .right, .front, .back) {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--boxColor);
  /* box-shadow: 0 .2em .35em #0003 inset, 0rem 1.5em 0 var(--boxColor) inset; */
  box-shadow: 0 .5em .4em #0003 inset;
  backdrop-filter: blur(.8px);

  /* WARNING!!! */
  /* filter: drop-shadow(0 0 5px var(--boxColor)) drop-shadow(0 0 7px var(--boxColor)) opacity(.8); */
}

.cube .front {
  transform: translateZ(1em);
  
}
.cube .right {
  transform: rotateY(90deg) translateZ(1em);
}
.cube .back {
  transform: translateZ(-1em);
}
.cube .left {
  transform: rotateY(270deg) translateZ(1em);
}
.cube .top {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--boxColor);
  transform: translateY(-50%) rotateX(90deg);
}
.cube .bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: 0;
  background-color: #0007;
  /* background-color: var(--boxColor); */
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000;
}

.floor {
  position: absolute;
  width: 15em;
  height: 15em;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  background-image: 
  /* radial-gradient( #0000 50% , #000 75%), */repeating-conic-gradient( 
    from 45deg,
    #590de6e5 0deg 90deg,
    #c56810e1 90deg 180deg
  );
  background-size: 1em 1em;
}
